<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nurseapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".RecreateScreen" />
        <activity android:name=".Formularis_Calendari.ActivitatCalendari" />
        <activity android:name=".Formularis_Calendari.ActivitatFormularis" />
        <activity android:name=".TractamentGenericToolBar.TractamentToolBar" />
        <activity android:name=".TractamentVideos.EliminarVideo" />
        <activity android:name=".TractamentVideos.AfegirVideos" />
        <activity android:name=".TractamentVideos.ApiYoutube" />
        <activity android:name=".TractamentVideos.LlistatVideosPrincipal" />
        <activity android:name=".Registres_Acces.Registrarse" />
        <activity android:name=".Registres_Acces.IniciarSessio" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PantallaInici">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>