<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nurseapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        android:screenOrientation="portrait">
        <activity android:name=".TractamentRols.EditarRols" />
        <activity android:name=".RecrearPantalla" />
        <activity android:name=".Formularis_Calendari.ActivitatCalendari" />
        <activity android:name=".Formularis_Calendari.ActivitatFormularis" />
        <activity android:name=".TractamentToolBar" />
        <activity android:name=".GestioVideos.EliminarVideo" />
        <activity android:name=".GestioVideos.AfegirVideos" />
        <activity android:name=".GestioVideos.ApiYoutube"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".GestioVideos.LlistatVideos" />
        <activity android:name=".Autentificacio.Registrarse" />
        <activity android:name=".Autentificacio.IniciarSessio" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PantallaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>